/*
Filename: group2-hr-styles.css
Class Section: CTI.110.0003
Group: 2
Purpose: Primary CSS file to style the HR Portal Site
*/
body {
    background-color: #2E2C2C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin: 0 !important;
    padding: 0 !important;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
}

nav a {
    padding: 10px 20px;

}

ul {
    list-style-type: none;
    padding: 10px;
    border: none;
}

li {
    border: none;
    padding: 0px;
    display: inline-block;
}

nav {
    width: 100%;
    float: left;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}
img{
    border: none;
    width: 100%;
}
header>img {
    object-fit: cover;
    display: block;
}
#fuelGauge{
    width: 100px!important;
    height: 100px!important;
}
h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}

table,
th,
td {
    border: 1px solid #cbc6c6;
    padding: 5px;
}

thead {
    background-color: #d9d0d0;
    color: black;
    padding: 5px;
    font-size: 20px;
}

tbody {
    color: black;
}

tfoot {
    font-size: 16px;
    color: black;
    background-color: #d9d0d0;
    text-align: center;
    font-weight: bold;
}

caption {
    font-family: 'Century Gothic', 'Times New Roman', serif;
    font-weight: bold;
    font-size: 20px;
    color: blue;
    border: none;
    padding-bottom: 10px;
    background-color: white;
}

button {
    background-color: blue;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

legend {
    color: black;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
}


p {
    font-size: 20px;
}

footer {
    height: 50px;
    text-align: center;
    padding: 20px;
    background-color: black;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0px!important;
}

.inputSection {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    margin: 10px 0px;
}

.inputSection caption {
    text-align: left;
}
#homeMainSection{
    background-color: white !important; 
    color: black; 
    padding: 10px;
    box-shadow: inset 0px 6px 5px -5px black;

}

#welcomeHeader {
    font-size: 60px;
}

table {
    margin: 0 auto;
    box-shadow: 5px 5px 5px grey;
    background-color: white;

}

.searchResults {
    width: 100%;
}



nav a:hover,
.highlightedNav {
    background-color: #C40202;
    border-radius: 5px;

}

select {
    color: black;
}

.dynList {
    color: black;
}

label {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}
small{
    display: block;
}
input,
select {
    padding: 10px;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    border: none;
    background-color: #dfd6d6;
}

fieldset {
    padding: 20px;
    margin-bottom: 10px;
}
#calculateFuelCost{
    display: flex; 
    align-items: center; 
    justify-content: space-evenly; 
    flex-wrap: wrap;
}
